# Port number
PORT=5000

# MongoDB connection string
MONGODB_URI=your_mongodb_connection_string_here

# SMTP configuration for email/OTP
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_specific_password_here

# Free Astrology API Key
ASTRO_API_KEY="your_astro_api_key_here(https://freeastrologyapi.com/)"

# JWT Secret
jwt_secret=your_jwt_secret_here

geocode_api_key="yourgeocodeapikey_from(https://geocode.maps.co/docs/)"