# Port number
PORT=5000

# MongoDB connection string
MONGODB_URI=your_mongodb_connection_string_here

# SMTP configuration for email/OTP
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_specific_password_here

# Free Astrology API Key
ASTRO_API_KEY="your_astro_api_key_here(https://freeastrologyapi.com/)"

# Api for Daily Horoscope
HOROSCOPE_API="your_horoscope_api_key_here(https://freeastrologyapi.com/)"


# JWT Secret
jwt_secret=your_jwt_secret_here
# Api key for geocode
geocode_api_key="yourgeocodeapikey_from(https://geocode.maps.co/docs/)"

CORS_ORIGIN=your CORS_ORIGIN
# your gemini api key
gemini_api_key="your_gemini_api_key_here"